<!DOCTYPE  html>
<html lang='en'>
  <head>
    <title>CREATE DAT ARTICLE BRUV.</title>
    <link rel="stylesheet" href="home.css" />
  </head>
  <body>
  <form action='/articles' method='post'>
    <label for='title'>New Title:</label>
    <input type='text' id='title' name='title' />
    <label for='url_name'>New URL:</label>
    <input type='text' id='url_name' name='url_name' />
    <label for='descriptor'>New descriptor:</label>
    <input type='text' id='descriptor' name='descriptor'/>
    <label for='wizard_name'>New WIZARD NAME:</label>
    <input type='text' id='wizard_name' name='wizard_name'/>
    <input type='submit' />
  </body>
</html>